.login-container {    
background-color: grey;
height: 550px;
padding-left: 35%;
padding-top: 5%;
}

.login-box {
    background-color: white;
    z-index: 2;
    padding-top: 30px;
    height: 50%;
    width: 40%;
    padding-left: 30px;
    display: block;
   
}
input {
    padding: 5px;
    // padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: black solid;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;  

    border-width: 1px;
    width: 90%; 
 }

    p {
    font-size: 10px;
}

label {
    color: grey;
    font-size: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 15px;
}
